/* Pulsating Button */

.ring-container {
    position: relative;
}

.circle {
    width: 120px;
    height: 120px;
    background-color: #96d1d5;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
    opacity: 1;
}

.ringring {
    border: 10px solid #96d1d5;
    -webkit-border-radius: 50%;
    background: transparent;
    height: 120px;
    width: 120px;
    position: absolute;
    left: 40px;
    top: 40px;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.8, 0.8); opacity: 0.0;}
    50% {opacity: 1.0;}
    99% { opaity: 1; }
    100% {-webkit-transform: scale(1.5, 1.5); opacity: 0;}
}
