/* Overlay Styles */

body {
    width: 100vw;
}

div.app {
    margin: 0 auto;
    padding: 0;
}

div#content-overlay {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    display: none;
    width: 100vw;
    height: 100vh;
    background: #ECECE8;
    padding: 10px;
    overflow-y: scroll;
}

div#content-overlay h1 {
    margin: 0;
}

div#content-scroll {
    overflow: auto;
    width: 100%;
    height: auto;
    display: block;
}

h1#overlay-title {
    padding-top: 0;
}

div#overlay-lead {
    padding: 5px 0 15px 0;
}

div#overlay-text {
    /* */
}

div#overlay-link {
    text-align: center !important;
    width: 100%;
}

button#close-overlay {
    position: absolute;
    top: 5px;
    right: 0;
}

iframe {
    width: 100% !important;
    height: calc(56.25vw - 20px) !important;
}

/* Infobox Styles */

div.info {
    padding: 5px;
    margin: 0 auto;
    background: rgba(255,255,255,0.8);
    border-radius: 2px;
}

p.text {
    margin: 0;
    padding: 5px;
    text-align: center;
}

img {
    width: 100%;
}
